<nav class="site-navigation">
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/wp/categorie/actualites/">Actualités</a></li>
    <li><a href="/wp/categorie/tutoriels/">Tutoriels</a></li>
    <li class="active"><a href="/forums">Forums</a></li>
    <li><a href="/wp/proposition-darticle/">Proposition d'article</a></li>
  </ul>
</nav>
