/* body */

body {
  font-size: 13px;
}


/* header */

.site_logo {
  background-image: url("./images/linuxgraphic.svg");
  background-size: 8em;
}

.site-description h1,
.site-description p
{
  color: #7ea77c;
}

.headerbar {
  color: black;
  background-color: white;
  background-image: none;
  border: 4px solid #d9e4d7;
  border: 4px solid #7ea77c;
  /*
  background-image: linear-gradient(
    to bottom,
    #6ACEFF 0%,
    #0076B1 2px,
    #7ea77c 92px,
    #7ea77c 100%);
  background-repeat: repeat-x;
  */
}

.search-header {
  box-shadow: 0 0 10px #7ea77c;
}

.navbar {
  background-color: #d9e4d7;
}

/* general layout */

.wrap {
  max-width:80em;
}

@media (max-width: 799px) {
  .wrap {
    padding: 12px;
  }
}
@media (min-width: 800px) {
  .wrap {
    margin: 12px;
    padding: 12px;
  }
}


a,
a:active,
a:visited {
  color: #7DA578;
}

a:hover {
  color: #FF7200;
}

/* site navigation */

nav.site-navigation {
  padding: 3px 10px;
  border-radius: 7px;

  margin-bottom:1em;
  background-color: #d9e4d7;
}
nav.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.site-navigation li {
  display: inline-block;
  vertical-align: top;
  padding-left:1em;
  padding-right:1em;
  font-size: 1.1em;
  line-height: 2.2em;
}

nav.site-navigation li.active {
  background-color: #eee;
}

@media (max-width: 700px) {
  nav.site-navigation {
		border-radius: 0;
		margin-left: -5px;
		margin-right: -5px;
  }
}

/* boards list */

.pagination li.active span {
  background: #7DA578;
  border-color: #7DA578;
}

.pagination li a:hover,
.pagination li a:hover .icon,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
  background: #7DA578;
  border-color: #7DA578;
}

.forabg,
.forumbg {
  background-color: #7DA578;
  background-color: #d9e4d7;
  background-image: none;
}

.forumbg .header a,
.forabg .header a,
th a {
  color: #7DA578;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
  color: #FF7200;
}

li.header dt,
li.header dd {
  color: #7DA578;
}

ul.topiclist.forums,
ul.topiclist.topics{
  background-color: white;
  background-image: none;
}

li.row {
  border-bottom-color: #7DA578;
}

.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.topic_read						{ background-image: url("./images/forum_read.png"); }
.topic_unread						{ background-image: url("./images/forum_unread.png"); }
.topic_unread_mine						{ background-image: url("./images/topic_unread_mine.png"); }
.topic_read_mine						{ background-image: url("./images/topic_read_mine.png"); }

li.row:hover dd {
  border-left-color: transparent;
}

/* posts list */

.bg1,
.bg2 {
  background-color: transparent;
  border: 1px solid #d9e4d7;
}

.button:hover, .button:focus {
  border-color: #7DA578;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus.icon,
.button:hover .icon {
  color: #7DA578;
}

.button {
  color: #7DA578;
}

.icon.icon-red,
a:hover .icon.icon-red {

      color: #7DA578;
      color: darkgrey;
}

/* post */

h3 {
  border-bottom-color: #CCCCCC;
  color: #7DA578;
}

.panel {
  background-color: transparent;
  border: 1px solid #d9e4d7;
}

.inputbox:hover {
  border-color: #d9e4d7;
}
.inputbox:focus {
	border-color: #d9e4d7;
}

.tabs .tab > a,
.tabs .tab > a:hover {
  background: #d9e4d7;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
  border-color: #d9e4d7;
}

.bg3 {
  border: solid 1px #d9e4d7;
  background-color:transparent;
}

a.button1:hover,
input.button1:hover,
a.button2:hover,
input.button2:hover,
input.button3:hover {
  border-color: #7DA578;
  color: #7DA578;
}

/* messages */


#navigation a {
  background-color: #e4ece2
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus.icon,
.button:hover .icon {
  color: #7ea77c;
}
